name: Publish

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches: [ 'main' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Build website
        run: |
          wget https://github.com/maude-lang/maude-lang.github.io/releases/download/maude/old-maude-website.tar.xz
          wget https://github.com/maude-lang/maude-lang.github.io/releases/download/maude/maude-manual-html.tar.xz
          mkdir -p output/manual
          tar -xf old-maude-website.tar.xz -C output
          tar -xf maude-manual-html.tar.xz -C output/manual
          pip install -r requirements.txt
          python generate.py --prefix / --no-ext
          touch output/.nojekyll

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: output

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub pages
        id: development
        uses: actions/deploy-pages@v4
